<!-- Page Header -->
<header class="intro-header" style="background-image: url('{PATH_OFFSET}/data/media/content/admin-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{TXT_IMAGELY_ADMIN_HEADING}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h2>{TXT_IMAGELY_ADMIN_ACCOUNTS_TITLE}</h2>
    {ACCOUNT_ENTRIES}
    <h2>{TXT_IMAGELY_ADMIN_GALLERIES_TITLE}</h2>
    {GALLERY_ENTRIES}
</div>
