<!-- Page Header -->
<header class="intro-header" style="background-image: url('{PATH_OFFSET}/data/media/content/admin-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{TXT_IMAGELY_LOGIN_HEADING}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Imports for create -->
<script type="text/javascript" src="{PATH_OFFSET}/template/js/login.js"></script>
<div class="container">
    <div id="status"></div>
    <form action="{PATH_OFFSET}/{LANGUAGE}/DoLogin" method="post" class="form-horizontal" id="login">
        <div class="form-group">
            <label class="col-sm-3 control-label">{TXT_IMAGELY_LOGIN_USERNAME}</label>

            <div class="col-sm-9">
                <input type="email" class="form-control" tabindex="1" value="{TXT_LOGIN_USERNAME}" name="Username">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{TXT_IMAGELY_LOGIN_PASSWORD}</label>

            <div class="col-sm-9">
                <input type="password" class="form-control" tabindex="2" name="Password">
            </div>
        </div>
    </form>
    <p>{TXT_IMAGELY_LOGIN_NO_ACCOUNT} <a href="Signup" tabindex="3">{TXT_IMAGELY_LOGIN_REGISTER_NOW}</a></p>

    <div class="form-group">
        <button class="btn btn-default" id="submit" type="submit" tabindex="4" value="senden">
            {TXT_IMAGELY_LOGIN_FORM_SUBMIT}
        </button>
        <button class="btn btn-default" id="reset" type="reset" tabindex="5" form="login" value="reset">
            {TXT_IMAGELY_LOGIN_FORM_RESET}
        </button>
    </div>
</div>
