<div class="row">
    <span class="col-sm-12">
        <a href="{GALLERIES_LINK_HREF}" target="_blank">
        <strong>{TXT_GALLERIES_NAME}</strong>
    </a>
    </span>
    <span class="col-sm-6">
        {TXT_GALLERIES_DESCRIPTION}
    </span>
    <span class="col-sm-4">
        {TXT_IMAGELY_GALLERIES_MODIFIED}
        <br>
        {TXT_GALLERIES_MODIFIED}
    </span>
    <div class="galleries-buttons col-sm-2 text-right">
        <a href="{GALLERIES_EDIT_HREF}">
            <span class="glyphicon glyphicon glyphicon-edit">
            </span>
        </a>
        <a href="{GALLERIES_LINK_HREF}" target="_blank">
            <span class="glyphicon glyphicon-new-window">
            </span>
        </a>
        <a href="{GALLERIES_DELETE_HREF}" class="delete">
            <span class="glyphicon glyphicon-trash">
            </span>
        </a>
        <p class="deleteText hidden">
            {TXT_IMAGELY_GALLERIES_YOU_SURE}
        </p>
    </div>
</div>
<hr>
